@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IPagedList<Product>
@{
    SelectList liste_ordretri = new SelectList(new string[] { Localizer["Name"].Value, Localizer["Price"].Value }, Localizer["Name"]);
    SelectList liste_recherche = new SelectList(new string[] { Localizer["Name"].Value, Localizer["Description"].Value }, Localizer["Name"]);
}
<div class="row">
    <form class="form-inline" asp-action="List"
          data-ajax="true"
          data-ajax-method="GET"
          data-ajax-mode="replace"
          data-ajax-update=".Products">
        <div class="col-md-6">
            @Localizer["Sort"]
            <select name="ordretri" asp-items="@liste_ordretri" class="form-control"></select>
            <input type="submit" name="Trier" value="@Localizer["Sort2"].Value" class="btn btn-primary" />
        </div>
        <div class="col-md-6 text-right">
            @Localizer["Search"]
            <input type="text" name="motrecherche" class="form-control" />
            <select name="champrec" asp-items="@liste_recherche" class="form-control"></select>
            <input type="submit" value="@Localizer["Search2"].Value" class="btn btn-primary" />
        </div>
    </form>
</div>
@Html.Partial("_ListListeProduitsPartial", Model)


@section scripts {
    <environment names="Development">
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    </environment>
}