@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@inject IViewLocalizer Localizer

@model ShipViewModel


@if (User.Identity.IsAuthenticated || Model.Valid)
{
    <h2>@Localizer["Check"]</h2>
    <p>@Localizer["Please"]</p>
    <h3>Total Price (without taxes): @ViewData["Price"]</h3>
    <h3>Total Price (with taxes): @ViewData["Taxes"]</h3>
    <h3>Shipping price: @ViewData["Shipping"]</h3>
    <h3>Total Price with shipping: @ViewData["Total"]</h3>

    <form action="/Order/Charge" method="POST">
        <article>
            <label>Total: @Model.PriceCents</label>
        </article>
        <script src="https://checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Sample Charge"
                data-amount=@Model.PriceCents
                data-currency="cad">
        </script>
        <input type="hidden" name="amount" value="@Model.PriceCents" />
    </form>
}
else
{
    <p>@Localizer["Connected"]</p>
}